/* width */
.scroll::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.scroll::-webkit-scrollbar-button {
  width: 30px;
  height: 30px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #0067A3;
  border: 0px solid #ffffff;
  border-radius: 50px; 
}
 
/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #69a4c6;
  border: 0px solid #ffffff;
  border-radius: 50px;
  background-clip: padding-box;
  
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #4d7993;
}